<%- include ('../layouts/adminheader.ejs') %>

        <section class="content-main">
            <div class="content-header">
                <h2 class="content-title">Categories list</h2>
                <div>
                    <a href="addcategories" class="btn btn-primary"><i class="material-icons md-plus"></i> Create new</a>
                </div>
            </div>
            <div class="card mb-4">
                <header class="card-header">
                    <div class="row gx-3">
                        <div class="col-lg-4 col-md-6 me-auto">
                            <input type="text" placeholder="Search..." class="form-control">
                        </div>
                        <div class="col-lg-2 col-md-3 col-6">
                            <select class="form-select">
                                <option>Status</option>
                                <option>Active</option>
                                <option>Disabled</option>
                                <option>Show all</option>
                            </select>
                        </div>
                        <div class="col-lg-2 col-md-3 col-6">
                            <select class="form-select">
                                <option>Show 20</option>
                                <option>Show 30</option>
                                <option>Show 40</option>
                            </select>
                        </div>
                    </div>
                </header> <!-- card-header end// -->
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>image</th>
                                        <th>name</th>
                                        <th>description</th>
                                        <th>status</th>
                                        <th class="text-end"> Action </th>
                                    </tr>
                                </thead>
                            <tbody>
                                <% if (catData.length> 0) {
                                    for (let i = 0; i < catData.length; i++) { %>
                                    <tr>
                                        <td>
                                            <div class="left">
                                                <img src="/categoryImages/<%= catData[i].Image%>"
                                                    class="img-sm" alt="catpic">
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                <h6 class="mb-0 title">
                                                    <%= catData[i].category %>
                                                </h6>
                                            </div>
                                        </td>
                                        <td width="50%">
                                            <div>
                                                <h6 class="mb-0 title">
                                                    <%= catData[i].description %>
                                                </h6>
                                            </div>
                                        </td>
                                        <td>
                                            <% if ( catData[i].isListed==true) { %>
                                                <span class="badge rounded-pill"
                                                    style="background-color: green;">listed</span>
                                                <% } else { %>
                                                    <span class="badge rounded-pill"
                                                        style="background-color: red;">unlisted</span>
                                                    <% } %>
                                        </td>
                                        <td class="text-end">
                                            <div class="dropdown">
                                                <a href="#" data-bs-toggle="dropdown"
                                                    class="btn btn-light rounded btn-sm font-sm"> <i
                                                        class="material-icons md-more_horiz"></i> </a>  
                                                <div class="dropdown-menu">
                                                    <a class="dropdown-item"
                                                        href="/admin/editCategories?id=<%= catData[i]._id %>">Edit</a>
                                                    <% if (catData[i].isListed==true) { %>
                                                        <a class="dropdown-item text-danger"
                                                            href="/admin/unlistCat?id=<%= catData[i]._id %>">
                                                            unlist </a>
                                                        <% } else { %>
                                                            <a class="dropdown-item text-success"
                                                                href="/admin/listCat?id=<%= catData[i]._id %>">
                                                                list </a>
                                                            <% }%>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <% } } %>

                        </tbody>    
                        </table> <!-- table-responsive.// -->
                    </div>
                </div> <!-- card-body end// -->
            </div> <!-- card end// -->
            <div class="pagination-area mt-15 mb-50">
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-start">
                        <li class="page-item active"><a class="page-link" href="#">01</a></li>
                        <li class="page-item"><a class="page-link" href="#">02</a></li>
                        <li class="page-item"><a class="page-link" href="#">03</a></li>
                        <li class="page-item"><a class="page-link dot" href="#">...</a></li>
                        <li class="page-item"><a class="page-link" href="#">16</a></li>
                        <li class="page-item"><a class="page-link" href="#"><i class="material-icons md-chevron_right"></i></a></li>
                    </ul>
                </nav>
            </div>
        </section> <!-- content-main end// -->
       


<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/page-sellers-list.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:33:23 GMT -->
</html>

<%- include ('../layouts/adminfooter.ejs') %>
