<%- include("../layouts/adminheader") %>

<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/page-form-product-2.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:33:32 GMT -->


<body>
    <form action="/admin/editProductlist" method="post" enctype="multipart/form-data" id="form">
        <input type="text" name="id" value="<%= productData._id %>" hidden>
        <section class="content-main">
            <div class="row">
                <div class="col-6">
                    <div class="content-header">
                        <div class="row">
                            <div class="col-12">
                                <div class="content-header">
                                    <h2 class="content-title">Edit Product</h2>
                                    <% if (typeof message !=='undefined' ) { %>
                                        <p style="color: rgb(255, 0, 0);">
                                            <%= message %>
                                        </p>
                                        <% } %>
                                          
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-lg-10">
                    <div class="card mb-">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-3">
                                    <h6>1. General info</h6>
                                </div>  
                                <div class="mb-4">
                                    <label class="form-label">Product title</label>
                                    <input type="text" name="name" placeholder="Type here"
                                        class="form-control" value="<%= productData.name %>">
                                    <div class="error-message" style="color: red;" id="title-error"></div>
                                </div>
                                <div class="mb-4">
                                    <label class="form-label">Quantity</label>
                                    <input type="text" name="quantity" placeholder="Type here"
                                        class="form-control" value="<%= productData.quantity %>">
                                    <div class="error-message" style="color: red;" id="quantity-error">
                                    </div>
                                </div>
                                <div class="mb-4">
                                    <label class="form-label">Description</label>
                                    <textarea name="description" placeholder="Type here"
                                        class="form-control"
                                        rows="4"><%= productData.description %>"</textarea>
                                    <div class="error-message" style="color: red;" id="description-error">
                                    </div>
                                </div>
                                    <div class="mb-4">
                                        <label class="form-label">Brand name</label>
                                        <select class="form-select">
                                            <option> Adidas </option>
                                            <option> Nike </option>
                                            <option> Puma </option>
                                        </select>
                                    </div>
                                </div> <!-- col.// -->
                            </div> <!-- row.// -->
                            <hr class="mb-4 mt-0">
                            <div class="row">
                                <div class="col-md-3">
                                    <h6>2. Pricing</h6>
                                </div>
                                <div class="col-md-9">
                                    <div class="mb-4">
                                        <label class="form-label">Price</label>
                                        <input type="text" name="price" placeholder="00.0" class="form-control"
                                            value="<%= productData.price %>">
                                        <div class="error-message" style="color: red;" id="price-error"></div>
                                    </div>
                                </div> <!-- col.// -->
                            </div>  <!-- row.// -->
                            <hr class="mb-4 mt-0">
                            <div class="row">
                                
                                <div class="col-md-3">
                                    <h6>3. Category</h6>
                                </div>
                                    <div class="col-md-9">
                                        <div class="mb-4">
                                            <% if(Category.length>0){
                                                for(let i=0;i<Category.length;i++){ %>
                                                    <label class="mb-2 form-check form-check-inline"
                                                        style="width: 45%;">
                                                        <input class="form-check-input" name="category"
                                                            id="category" type="radio"
                                                            value="<%= Category[i]._id %>"
                                                            <%if(productData.Category==Category[i].category){%>
                                                        checked <%}%>>
                                                            <span class="form-check-label">
                                                                <%= Category[i].category %>
                                                            </span>
                                                    </label>
                                                    <% } }%>
                                        </div>
                                    </div> <!-- col.// -->  
                            </div> <!-- row.// -->  
                            <hr class="mb-4 mt-0">  
                             <div class="row">
                                        <div class="col-md-3">
                                            <h6>9. Media</h6>
                                        </div>
                                        <div class="col-md-9">
                                            <div class="mb-4">
                                                <div class="card mb-4">
                                                    <div class="card-body">
                                                        <% if (productData.productImages &&
                                                            productData.productImages.length> 0) { %>
                                                            <% for (let i=0; i < productData.productImages.length; i++)
                                                                { %>
                                                                <div class="mb-4">
                                                                    <label class="form-label">Image <%= i + 1 %></label>
                                                                    <img id="imgView<%= i %>"
                                                                        src="/productImages/<%= productData.productImages[i] %>"
                                                                        alt="">
                                                                    <input class="form-control" name="image" type="file"
                                                                        onchange="viewImage(event,<%= i %>)">
                                                                </div>
                                                                <% } %>
                                                                    <% } else { %>
                                                                        <div class="mb-4">
                                                                            <label class="form-label">New Image</label>
                                                                            <input class="form-control" name="image"
                                                                                type="file" multiple>
                                                                        </div>
                                                                        <% } %>
                                                    </div>

                                                </div>
                                                <div class="images-container">
                                                    <!-- Add Product Images Here -->
                                                </div>
                                                
                                            </div>
                                        </div> <!-- col.// -->
                                    </div> <!-- .row end// -->
                            <div>
                                            <input type="submit" class="btn btn-md rounded font-sm  " id="">
                                            <!-- <button type="submit" id="submit" class="btn btn-md rounded font-md ">Submit</button> -->
                                        </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </section> <!-- content-main end// -->
        </main>
    </form>
</body>



<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/page-form-product-2.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:33:32 GMT -->
</html>

<%- include("../layouts/adminfooter") %>
